body {
  margin: auto;
  width: 50%
  border: 3px solid yellow;
}

.name {
  font-family: arial, helvetica, sans-serif
}

.jobtitle {
  border: 1px solid black;
  text-align: center;
  font-family: arial, helvetica, sans-serif
}

.performancesummary {
  border: 1px solid black;
  font-family: arial, helvetica, sans-serif
}
