body {
  margin: 10px;
  width: 50%;
  border: 5px solid black;
  padding: 50px;
  font-family: arial, helvetica, sans-serif;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 255, 1);
}

h2 {
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

h3 {
  text-align: center;
  background-color: rgba(0, 0, 0, .25);
}

h4 {
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

.pinfo {
  color: rgba(0, 0, 255, .75)
}
