.jobtitle {
  border: 1px solid black;
  text-align: center;
  font-family: arial, helvetica, sans-serif
}

.performancesummary {
  border: 1px solid black;
  font-family: arial, helvetica, sans-serif
}
